.avatar {
	position: relative;

	@include mq($until: tablet-landscape) {
		display: flex;
		flex-direction: column;
		border-left: 0.5px solid $color-dark;
		-webkit-filter: none;
		filter: none;
	}

	&:hover &__info {
        z-index: 2;
		opacity: 1;
		background-color: $color-light;
		left: 100%;
    }

    .last-element:hover &__info {
		left: -100%;

		@include mq($until: tablet-landscape) {
			left: 0;
		}
	}

	&:hover &__photo {
		z-index: 3;
		-webkit-filter: none;
		filter: none;
	}

	&__photo {
		position: relative;
		height: 100%;
		z-index: 1;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);

		@include mq($until: tablet-landscape) {
			-webkit-filter: none;
			filter: none;
		}

		&__image{
			width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}

	&__info {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 0.7s all;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 25px;

		@include mq($until: tablet-landscape) {
			position: static;
			opacity: 1;
			background-color: $color-light;
			justify-content: flex-start;
		}

		&__name {
			color: $color-text-primary;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
	}
}
