.team {
	background-color: $color-dark;

	padding: 100px 0;

	@include mq(tablet) {
		padding: 120px 0;
	}

	@include mq(desktop) {
		padding: 180px 0;
	}

	&__top {
		display: flex;
		justify-content: space-between;

		@include mq($until: tablet-landscape) {
			flex-direction: column;
			gap: 50px;
		}
	}

	&__headline {
		margin-bottom: $spacing-04;
	}

	&__button-group__filter-control{
		align-self: flex-end;

		@include mq($until: tablet-landscape) {
			align-self: flex-start;
		}
		
		.button {
			color: $color-text-light;
			padding-right: 29px!important;

	  
			&--active {
			  color: $color-text-primary;
			}
		}
	}

	&__button-group__grid-control {
		display: flex;
		justify-content: flex-end;
		margin-top: 15px;
		margin-bottom: 30px;
		padding-right: 10px;

		.button {
			padding: 15px!important;
			color: $color-text-light;

			&__label {
				border: none;
			}

			&--active::after {
				content: '';
				display: block;
				width: 80%;
				height: 1px;
				background: $color-primary;
				position: absolute;
				bottom: 2px;
				left: 50%;
				transform: translateX(-50%);
			}

			@include mq($until: tablet-landscape) {
				display: none;
			}

			&--mobile {
				display: none;

				@include mq($until: tablet-landscape) {
					display: inline-block;
				}
			}
		}
	}

	&__results {
		&__grid {
			margin-top: 130px;
			display: grid;

			@include mq($until: tablet-landscape) {
				margin-top: 60px;
			}
		  
			@for $i from 1 through 6 {
				&--#{$i} { 
					grid-template-columns: repeat($i, 1fr); 
				}
			}
		}

		&--error {
			grid-column: 1 / -1;
			color: $color-text-primary;
			padding: 30px;
			text-align: center;
		}
	}

	&__button-container {
		font-weight: $font-weight-bold;

		@include flex-center;
	}
}
