.visual {
	$block: &;

	background: linear-gradient(0deg, rgba($color-dark, 1) 50%, rgba(0, 0, 0, 0) 50%);

	&__inner {
		@include grid;
	}

	&__visual {
		grid-column: 6 / span 12;
		aspect-ratio: 820 / 410;
		margin-right: -$page-padding-big;
		line-height: 0;

		@include mq($until: tablet-landscape) {
			margin-right: 0;
			grid-column: 1 / span 12;
			aspect-ratio: 820 / 410;
		}

		&__image {
			@include object-fit(cover);
		}
	}
}